/*Colores  #fc46d6
    #3f5efb */
* {
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box !important;
  font-family: "Calibri", "Courier New", Courier;
}
body {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.container-fluid {
  /* border: 2px dashed yellow; */
  background: rgb(63, 94, 251);
  
}
header {
  /* border: 2px dashed green; */
  display: flex;
  flex-direction: column;
  background: rgb(252, 70, 214);
  background: radial-gradient(
    circle,
    rgba(252, 70, 214, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  color: whitesmoke;
 height: 20%;
}
nav {
  /* border: 4px solid fuchsia; */
  display: flex;
  margin: 80px;
  align-items: center;
}
.logoNav {
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
  flex-grow: 0.3;
  flex-wrap: wrap;
  width: 40%;
}
.logoNav > img {
  width: 30%;
}
.botonesNav {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 5px;
  margin: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 60%;
}
.btn-primary {
  border-radius: 15px 0px !important;
  border: 2px double white !important;
 
  }
.btn-primary:hover {
  border-radius: 0px 15px !important;
   background-color: white!important;
  color:blue!important;
}
.active:hover {
  border-radius: 15px 0px !important;
  
}
.bannerHeader {
  /* border: 2px solid rgb(0, 217, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerHeader > h1 {
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 3px 2px 2px rgba(63, 94, 251, 1);
  font-size: 70px;
}
.bannerHeader > h1:hover {
  transform: scale(1.2);
}
.bannerHeader > a:link {
  text-decoration: none;
  filter: drop-shadow(-2px 2px 15px rgba(252, 70, 214, 1));
  border-radius: 50%;
  background-color: rgba(252, 70, 214, 1);
}
.bannerHeader > a > img {
  width: 40px;
  height: 40px;
}
.bannerHeader > a > img:hover {
  transform: scale(1.6);
}
 main{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
   
} 
.conteinerCheckbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  /* border: 2px solid red; */
}
.conteinerCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   /* border: 2px solid yellow; */
  gap:20px;
  justify-content:space-around;
  align-items: center;
  
}

.card{
  height:20rem !important;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.card-img-top{
   height:50%;
}
.conteinerContacto{
  align-items: center;
  height: 70% ;
  justify-content: center;
/* border: 2px solid white; */
}
.formularioContacto{
  display: flex;
  flex-direction: column;
  width: 40% ;
  gap:20px;
  /* border: 2px solid red; */
  justify-content: center;
}
.formularioContacto>.form-group>label{
  font-weight: bold;
  font-size: 30px;
  
}
.botonFormulario{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mainDetails{
  display: flex;
  border: 5px solid black;
 justify-content: center;
}
.conteinerDetails{
  display: flex;
justify-content: center;
align-items: center;
  background-color: rgb(0, 255, 255);
  width:60%;
  height: 100%;
  border: 5px solid rgb(0, 255, 13);
}
.cardDetails{
  display: flex;
   border:2px solid red;
flex-direction: row;

justify-content: center;
align-items: center;


}
.img-details{
display: flex;
flex-direction: column;
width: 80%;
justify-content: center;
align-items: center;

}
.img-details>img{
width: 90%;
height: 90%;}

.body-details{
display: flex;
flex-direction: column;
border: 2px solid blue;
align-items: center;
width: 80%;
justify-content: center;
}
.card-title{
  font-size: 50px;
  font-weight: bold;
}
footer {
  display: flex;
  background: rgb(252, 70, 214);
  color: whitesmoke;
  margin: 20px;
  padding: 20px;
  /* border:5px double #f1f2f5; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.ulFooter > li > a > img {
  width: 30px;
  filter: drop-shadow(10px 4px 10px #dbdde6);
}
.ulFooter > li > a > img:hover {
  transform: scale(1.6);
}
.divFooter > span {
  font-weight: bold;
  font-size: 30px;
  color: #3f5efb !important;
  filter: drop-shadow(10px 4px 10px #dbdde6);
}
